<div *ngIf="article" id="{{ 'A' + article?.nextArticle.id }}">
  <br>
  <br>
  <div class="article-container">
    <span>
      <h1><b>{{ article?.title }}</b></h1>
    </span>
    <hr>
    <br>
    <article [innerHtml]="article?.body"></article>
  </div>

  <div class="article-botton">
    <hr>
    <a mat-raised-button color="primary" [routerLink]="['../']">Voltar</a>
    &nbsp;

    <a *ngIf="article?.nextArticle.visible" mat-raised-button color="primary" [routerLink]="['../', article?.nextArticle.id]" fragment="{{ 'A' + article?.nextArticle.id }}">{{ article?.nextArticle.title }}</a>
  </div>
</div>