<div class="article-container" *ngIf="article">
  
  <h1><b>Manual do Usuário</b></h1>
  <br>
  <p>
      Olá, este é o meu manual de usuário...
  </p>
  <p>    
    Você deve estar se perguntando, que diabos é isso? uma pessoa que vem com um manual de uso?<br>
  </p>
  <p>
    E a resposta é sim, exatamente isso, acho uma idéia bem prática, imagine se todas as pessoas de um escritório tivesse isso, não seria fantástico?<br>
  
  <p>
    Bastaria que todos fizessem um teste de personalidade, depois poderiam deixar o tipo de personalidade em um local visível, como um post-it no gabinete do computador ou até uma lista da relação pessoa x tipo de personalidade em uma página na intranet da empresa.<br>
  </p>  
  <p>
    Assim essas pessoas poderiam ser abordadas da melhor maneira segundo sua personalidade, seria útil também em reuniões, influenciando até o modo como você apresenta informações e argumenta com outras pessoas.
  </p>
  <p>
    Pois bem, eu fiz o teste <a href="https://pt.wikipedia.org/wiki/Tipologia_de_Myers-Briggs" target="_blank">MBTI</a> de personalidade e
    indo direto ao ponto, meu resultado é "ISTJ-T" ou "Logístico", o que considero uma boa personalidade para quem desenvolve softwares.
  <p>
    Se estiver com curiosidade sobre o teste, você pode fazê-lo por este <a href="https://www.16personalities.com/br/teste-de-personalidade" target="_blank">link</a>.
  </p>
  <p>
    Por fim deixei as informações sobre minha vida profissional <a href="#" [routerLink]="['../','articles']">aqui</a>.
  </p>
</div>