@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
    margin: 0px;
}

a {
  user-select: none;
  text-decoration: none;
  color: #3f51b5;
}

.article-container {
    margin: 4rem 10rem 2rem 10rem;
    text-align: left;
    font: 300 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

.article-botton {
    margin: 4rem 10rem 2rem 10rem;
    text-align: left;
    font: 300 20px/32px Roboto,"Helvetica Neue",sans-serif;
}

router-outlet ~ * {
    position: absolute;
 }

@media only screen and (max-width: 658px) {
    .article-container {
        margin: 2rem 2rem 1rem 2rem;
    }
    
    .article-botton {
        margin: 2rem 2rem 1rem 2rem;
    }    
}